<form method="get" action="{{ path('filter_employees') }}" >
    {{ form_rest(filter_form) }}
    <input class="button btn-block btn-primary" type="submit" name="submit-filter" value="Фильтровать" />
</form>