{% extends "::base.html.twig" %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="bg-warning">
                        <th>
                            Имя пользователя
                        </th>
                        <th>
                            Email пользователя
                        </th>
                        <th>
                            Права
                        </th>
                        <th>
                            Статус
                        </th>

                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_show_user', {'id': user.id}) }}">
                                    {{ user.realName }}
                                </a>

                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {% if user.hasRole('ROLE_ADMIN') == true %}
                                    <span class="text-danger">
                                        Админ
                                    </span>
                                {% else %}
                                    <span class="text-success">
                                        Пользователь
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.locked == true %}
                                    <span class="text-danger">
                                        Заблокирован
                                    </span>
                                {% else %}
                                    <span class="text-success">
                                        Разблокирован
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock body %}