{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading bg-primary">
                        <h3>
                            <span class="glyphicon glyphicon-user"></span>
                            Новый сотрудник
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <input type="submit" value="Сохранить" class="btn btn-primary btn-lg"/>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}