{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Новая мышь</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form_device) }}
                        {{ form_widget(form_device) }}

                        <input type="submit" value="Сохранить" class="btn btn-primary btn-lg"/>
                        {{ form_end(form_device) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}